<!DOCTYPE html>
<html>

<head>
    <title>Letters and Numbers</title>
    <link href="../public/howto.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="header">
        <div id="howToIcon"><b>?</b></div>
        <div id="title"><b>LETTERS & NUMBERS</b></div>
        <a style="text-decoration: none;" href="index.html"><div id="homeIcon">
            <img src="../public/images/homeIcon1.png" alt="Home" width="23.33333">
        </div></a>
    </div>

    <div id="howToTitle"><b>HOW-TO</b></div>

    <div id="numbersHeader" class="header"><b>NUMBERS</b></div>
    <div id="numbersInfo" class="pageText">
        The goal of this game is to get as close as possible to a target number using the four basic arithmetic operations (+, -, ×, ÷),
        within a thirty-second time limit. Only the generated numbers can be used to do this, but not all have to be used.
        <br><br>First, you choose how many "large" numbers you would like to make up the six randomly chosen numbers.
        The rest will be "small" numbers, between 1 and 10. The large numbers can be 25, 50, 75, or 100.
        At most four large numbers may be chosen.
    </div>
    <a style="text-decoration: none;" href="numbers.html">
        <div id="numbersGameButton" class="gameButton"><b>TO GAME →</b></div>
    </a>

    <div id="lettersHeader" class="header"><b>LETTERS</b></div>
    <div id="lettersInfo" class="pageText">
        In this game, you must choose how many vowels you would like to make up nine randomly chosen letters.
        The rest of the letters will be consonants, and there must be at least three vowels and at least four consonants total.
        You then have thirty seconds to find the longest word that you can make out of these letters.
        <br><br>Any word which appears in the accepted word list is allowable. Proper nouns are not allowable.
    </div>
    <a style="text-decoration: none;" href="letters.html">
        <div id="lettersGameButton" class="gameButton"><b>TO GAME →</b></div>
    </a>

    <div id="conundrumHeader" class="header"><b>CONUNDRUM</b></div>
    <div id="conundrumInfo" class="pageText">
        In this game, a nine-letter anagram is given to you, and you must unscramble the word within the thirty-second time limit.
    </div>
    <a style="text-decoration: none;" href="conundrum.html">
        <div id="conundrumGameButton" class="gameButton"><b>TO GAME →</b></div>
    </a>
    
</body>

</html>