<!DOCTYPE html>
<html>

<head>
    <title>Letters and Numbers</title>
    <link href="../public/index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id="title"><b>LETTERS & NUMBERS</b></div>

<div id="homeBoxes">
    <a style="text-decoration: none;" href="howto.html">

        <div class="buttons", id="howToButton">?</div>

        <div id="howToButtonText">
            <b>How-To</b>
        </div>

    </a>

    <a style="text-decoration: none;" href="userstats.html">

        <div class="buttons">
            <img src="../public/images/userstats2.png" alt="User Statistics Image" width="93.333334px">
        </div>

        <div id="userStatsButtonText">
            <b>Your Stats</b>
        </div>
    
    </a>

    <a style="text-decoration: none;" href="numbers.html">
        <div class="gameButtons", id="numbersButton"><b>NUMBERS</b></div>
    </a>

    <a style="text-decoration: none;" href="letters.html">
        <div class="gameButtons", id="lettersButton"><b>LETTERS</b></div>
    </a>

    <a style="text-decoration: none;" href="conundrum.html">
        <div class="gameButtons", id="conundrumButton"><b>CONUNDRUM!</b></div>
    </a>
</div>

</body>

<script>


</script>

</html>