<!DOCTYPE html>
<html>

<head>
    <title>Letters and Numbers</title>
    <link href="../public/userstats.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="header">
        <a style="text-decoration: none;" href="howto.html"><div id="howToIcon"><b>?</b></div></a>
        <div id="title"><b>LETTERS & NUMBERS</b></div>
        <a style="text-decoration: none;" href="index.html"><div id="homeIcon">
            <img src="../public/images/homeIcon1.png" alt="Home" width="23.33333">
        </div></a>
    </div>

    <div id="yourStatsTitle"><b>YOUR STATS</b></div>

    <div id="numbersHeader" class="header"><b>NUMBERS</b></div>

    <div id="numbersInfoBox">
        <div id="currentStreakBox" class="smallBox">
            <b class="number">3</b>
            <div id="winsText">wins</div>
        </div>
        <div id="longestStreakBox" class="smallBox">
            <b class="number">11</b>
            <div id="winsText">wins</div>
        </div>
        <div id="currentStreakText" class="pageText">Current Streak</div>
        <div id="longestStreakText" class="pageText">Longest Streak</div>
        <div id="fastestTimeBox" class="bigBox">
            <b>14</b>
            <div id="timeText">seconds</div>
        </div>
        <div id="fastestTimeText" class="pageText">Fastest Time</div>
    </div>

    <div id="lettersHeader" class="header"><b>LETTERS</b></div>

    <div id="lettersInfoBox">
        <div id="topTenText" class="pageText">Your  Top  10  Words</div>
        <div id="topTenBox">
            <div id="topTenNumbers">1 2 3 4 5 6 7 8 9 10</div>
            <div id="topTenWords">
                AMBULANCE<br>SANDWICH<br>MOUNTAIN<br>SENTENCE<br>ACCOUNT<br>DOLPHIN<br>FOREVER<br>KITCHEN<br>ACTIVE<br>CABLES
            </div>
        </div>
    </div>

    <div id="conundrumHeader" class="header"><b>CONUNDRUM</b></div>

    <div id="conundrumInfoBox">
        <div id="fastestTimeBoxC" class="bigBox">
            <b>8</b>
            <div id="timeTextC">seconds</div>
        </div>
        <div id="fastestTimeTextC" class="pageText">Fastest Time</div>
    </div>

</body>

</html>