body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Corbel';
}

/*//////////////////////////////////////////////////////////
//////////////////// HEADER AND TITLE //////////////////////
//////////////////////////////////////////////////////////*/

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.888889px;
    padding-bottom: 5.8333334px;
    width: 100%;
    border-bottom: solid rgb(190, 190, 190) 0.777778px;
}

#title {
    font-size: 27.222222px;
    font-family: 'Corbel';
    color: rgb(74, 111, 182);
}

#howToIcon {
    font-size: 27.222222px;
    font-family:'BIZ UDMincho Medium';
    color:rgb(74, 111, 182);
    margin-top: 3.888889px;
    margin-left: 10px;
}

#homeIcon {
    margin-top: 3.888889px;
    margin-right: 10px;
}

#yourStatsTitle {
    font-size: 58.333334px;
    color:rgb(74, 111, 182);
}

.header {
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 144, 202);
    border-radius: 7px;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.pageText {
    color: rgb(62, 99, 175);
    font-size: 22px;
    width: 153px;
    margin-left: 23px;
    margin-top: 10px;
}

/*//////////////////////////////////////////////////////////
///////////////////////// NUMBERS //////////////////////////
//////////////////////////////////////////////////////////*/

#numbersHeader {
    margin-top: 20px;
}

#numbersInfoBox {
    display: flex;
    flex-wrap: wrap;
}

.smallBox {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border: solid rgb(190, 190, 190) 0.7777778px;
    margin-left: 23px;
    margin-top: 10px;
    color: rgb(62, 99, 175);
    font-size: 70px;
    font-family: 'Bahnschrift SemiBold';
}

.number {
    height: 50px;
}

#winsText {
    font-size: 30px;
    width: 140px;
    font-family: 'Corbel';
}

.bigBox {
    height: 150px;
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border: solid rgb(190, 190, 190) 0.7777778px;
    margin-left: 23px;
    margin-top: 30px;
    color: rgb(62, 99, 175);
    font-size: 70px;
    font-family: 'Bahnschrift SemiBold';
}

#timeText {
    font-size: 30px;
    width: 140px;
    font-family: 'Corbel';
    margin-top: 17px;
}

/*//////////////////////////////////////////////////////////
///////////////////////// LETTERS //////////////////////////
//////////////////////////////////////////////////////////*/

#lettersInfoBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 3px;
}

#topTenText {
    margin-left: 0px;
    height: 20px;
    width: 200px;
}

#topTenBox {
    width: 325px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border: solid rgb(190, 190, 190) 0.7777778px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    color: rgb(62, 99, 175);
    font-size: 22px;
    font-family: 'Bahnschrift SemiBold';
    padding-bottom: 10px;
}

#topTenNumbers {
    width: 20px;
    line-height: 1.6;
    margin-left: 10px;
    margin-top: 10px;
}

#topTenWords {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 1.6;
    text-align: left;
}

/*//////////////////////////////////////////////////////////
//////////////////////// CONUNDRUM /////////////////////////
//////////////////////////////////////////////////////////*/

#conundrumInfoBox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

#fastestTimeBoxC {
    margin-top: 15px;
}

#timeTextC {
    font-size: 30px;
    width: 140px;
    font-family: 'Corbel';
    margin-top: 15px;
}

#fastestTimeTextC {
    margin-bottom: 20px;
}